# BỎ QUA FILE CẤU HÌNH DATABASE (RẤT QUAN TRỌNG)
config/db.php

uploads/avatars/*
!uploads/avatars/.gitkeep
uploads/materials/*
!uploads/materials/.gitkeep

tmp/sessions/*
!tmp/sessions/.gitkeep

.vscode/
.idea/
.DS_Store
Thumbs.db